<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cafe.charhanjan.mapper.StoreMenuMapper">
  
<!--   	<resultMap type="com.test.jjdev.dto.storeMenu" id="storeMenu"> -->
<!--   		<result property="storeSalesMenuCode" column="store_sales_menu_code"/> -->
<!--   		<result property="storeCode" column="store_code"/> -->
<!--   		<result property="rootMenuCateCode" column="root_menu_cate_code"/> -->
<!--   		<result property="storeSalesMenuName" column="store_sales_menu_name"/> -->
<!--   		<result property="storeSalesMenuPrice" column="store_sales_menu_price"/> -->
<!--   		<result property="storeSalesMenuDiscount" column="store_sales_menu_discount"/> -->
<!--   		<result property="storeSalesMenuState" column="store_sales_menu_state"/> -->
<!--   	</resultMap> -->
  	
  	<insert id="allMenuInsert" parameterType="com.cafe.charhanjan.dto.StoreMenu">
        INSERT INTO store_menu(
			store_sales_menu_code
			, store_code
			, root_menu_cate_code
			, store_sales_menu_name
			, store_sales_menu_price
			, store_sales_menu_discount
			, store_sales_menu_state
			, store_sales_menu_date
			, store_sales_menu_time
		)
		VALUES (
			#{storeSalesMenuCode}
			, #{storeCode}
			, #{rootMenuCateCode}
			, #{storeSalesMenuName}
			, #{storeSalesMenuPrice}
			, #{storeSalesMenuDiscount}
			, #{storeSalesMenuState}
			, CURDATE()
			, CURTIME()
		)
    </insert>
  
  	<update id="allMenuUpdate" parameterType="com.cafe.charhanjan.dto.StoreMenu">
        UPDATE store_menu
		SET
			root_menu_cate_code=#{rootMenuCateCode},
			store_sales_menu_name=#{storeSalesMenuName},
			store_sales_menu_price=#{storeSalesMenuPrice},
			store_sales_menu_discount=#{storeSalesMenuDiscount},
			store_sales_menu_state=#{storeSalesMenuState},
		WHERE store_sales_menu_code=#{storeSalesMenuCode} AND store_code=#{storeCode}
	</update>
    
    <delete id="allMenuDelete" parameterType="com.cafe.charhanjan.dto.StoreMenu">
        DELETE FROM store_menu 
        WHERE store_sales_menu_code=#{storeSalesMenuCode} AND store_code=#{storeCode}
    </delete>
    
    <select id="allMenuSelect" parameterType="java.util.Map" resultType="com.cafe.charhanjan.dto.StoreMenu">
        SELECT 
            store_sales_menu_code
            , store_code
            , root_menu_cate_code
            , store_sales_menu_name
            , store_sales_menu_price
            , store_sales_menu_discount
            , store_sales_menu_state
            , store_sales_menu_date
            , store_sales_menu_time
        FROM store_menu
    </select>
    
    <select id="allMenuList" parameterType="java.util.Map" resultType="com.cafe.charhanjan.dto.StoreMenu">
        SELECT 
            store_sales_menu_code
            , store_code
            , root_menu_cate_code
            , store_sales_menu_name
            , store_sales_menu_price
            , store_sales_menu_discount
            , store_sales_menu_state
            , store_sales_menu_date
            , store_sales_menu_time
        FROM store_menu
        ORDER BY store_sales_menu_code ASC 
        LIMIT #{beginRow}, #{pagePerRow}
    </select>
    
    <select id="allMenuCountGet" resultType="int">
        SELECT COUNT(*) FROM store_menu
    </select>
        
  </mapper>